@charset "utf-8";


/*
 Base styles
*/
body {
  font-family: 'Noto Sans JP', sans-serif, "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #333;
}

label,input,textarea,select,button{
  cursor: pointer;
}

button{
  border: 0;
}

/*
Section
 */
.section {
  padding: 30px 15;
}
.section-secondary {
  background-color: #efefef;
}
.section-headline {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin: 0 0 40px ;
}
.section-button{
  margin-top: 40px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .section{
    padding: 20px 10px;
  }
  .section-headline{
    font-size: 30px;
    margin: 0 0 20px;
  }
  .section-button{
    margin: 20px 0 0;
  }
}
/*
header
*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
.header-logo {
  margin: 0;
  color: transparent;
}
.header-logo>a {
  display: block;
}
/*.header-nav {}*/
.header-navlist {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/*.header-navitem {}*/
.header-navitem>a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  border-bottom: 2px solid transparent;
  transition: border-color 0.25s;
}
.header-navitem>a:hover {
  border-bottom: 2px solid #333;
}

@media screen and (max-width: 768px) {
  .header{
    font-size: 12px;
  }
}
/*
hero
*/
.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.hero>strong{
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 120px;
  font-weight: bold;
  color: #fff;
  width: 100%;
  text-align: center;
}

.hero>video{
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: auto;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.hero-particles{
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .hero>strong{
    font-size: 50px;
  }
}
/*
about
*/


.about{
  margin: 0;
  display:flex;
}

.about-caption {
  padding-left: 15px;
}
.about-image{
  width: 40%;
  margin: 10px;

}

.about-headline {
  margin: 0 0 20px;
  font-size: 30px;
}

@media screen and (max-width: 768px) {
  .about{
    display: block;
  }
  .about-image{
    max-width: 100%;
    margin-bottom: 20px;
    margin-left: 150px;
    margin-right: auto;
  }
  .about-headline{
    font-size: 20px;
    text-align: center;
  }
}



/*
grid
*/
.grid {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}
.grid-item {
  list-style: none;
  }


.grid-col-2 > .grid-item {
  width: 50%;
}

.grid-col-3 > .grid-item {
  width: 33.33333333333333%;
}

.grid-col-4 > .grid-item {
  width: 25%;
}
@media screen and (max-width: 768px) {
  .grid{
    display: block;
    width: 100%;
  }
  .grid-col-2 > .grid-item ,
  .grid-col-3 > .grid-item ,
  .grid-col-4 > .grid-item {
  width: 100%;
  margin: 20px 0;
  }
}


/*
feature
*/
.feature {
  text-align: center;
  padding: 0 15px;
}
.feature-headline {
  font-weight: bold;
  margin: 0 0 20px;
}
.feature-image {
  margin: 0 0 20px;
}
.feature-description {
  text-align: left;
  margin: 0;
}

.card{
  padding: 0 10px;
}

/*
card
*/
.card-link{
  display: block;
  color: #333;
  text-decoration: none;
  position: relative;
  transition: background-color 0.25s;
}

.card-link:hover{
  background-color: #eee;
}

.card-label{
  position: absolute;
  top: 0;
  left: 0;
  background-color: #999;
  color: #fff;
  display:block;
  font-size: 12px;
  padding: 5px 10px;
}
.card-image{
  width: 100%;
  height: auto;
}
.card-info{
  padding: 5px;
}
/*
.card-time{}
*/

.card-headline{
  margin: 0px;
}
.card description{
  margin: 0px;
}

/*
avator
*/
.avator{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: start;
  padding: 10px;
}
.avator-name{
  font-weight: bold;
  padding-left: 15px;
}
.avator-image{
  margin: 0;
  border-radius: 50%;
  overflow: hidden;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/*
button
*/
.button{
  display: inline-block;
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding: 15px 60px;
  background-color: #333;
  border-radius: 5px;
  box-shadow: 5px 5px 0 #bbb;
  text-decoration: none;
  transition: box-shadow 0.25s;
  margin-bottom: 20px;
}

.button:hover{
  box-shadow: 0 0 0 #bbb;
}

.button.button-submission{
  background-color: #ffa8a8;
}



/*
.select,.input,.radio,.textarea
*/

.select{
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  min-width: 500px;
}
.input{
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  min-width: 500px;
}
.radio{
  margin: 0 10px;
}
.textarea{
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  min-width: 500px;
  min-height: 100px;
}


@media screen and (max-width: 768px) {
  .select{
    min-width: auto;
    width: 100%;
  }

  .input{
    min-width: auto;
    width: 100%;
  }
  .textarea{
    min-width: auto;
    width: 100%;
  }
}
/*
form
*/

/*.form{}*/
.form-table{
 margin: 0 auto;
}
/*
.form-table tr{}
*/
.form-table th{
  padding: 10px;
  text-align: left;
}
.form-table td{
  padding: 10px;
}
.form-button{
  text-align: center;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .form-table,.form-table tbody.form-table th,.form-table td,.form-table tr
  {
    display: block;
    min-width: 450px;
  }
}
/*works*/
.works{
  margin: 40px 0;
  padding: 20px;
  text-align: center;
}

.works>img{
  margin: 0 15px;
}
@media screen and (max-width: 768px) {
  .works{
    margin: 20px 0;
    padding: 10px;
  }
  .works>img{
    margin: 5px;
    width: 100px
  }
}

/*
footer
*/
.footer{
  background-color: #333;
  color: #fff;
}
.footer-map{
  margin: 0;
  padding: 40px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-map>iframe{
  width: 60%;
}
.footer-mapinfo{
  width: 40%;
  padding: 15px;
}
.footer-maplogo{
  font-size: 25px;
  font-weight: bold;
}

.footer-maplogo>svg{
  fill: transparent;
  margin-right: 10px;

}


.footer-mapaddress{
  font-style: normal;
}
.footer-mapaddress> a {
  color: #fff;
}
.footer-line{
  border-color: #444;
}
.footer-copy{
  display: block;
  text-align: center;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .footer-map{
    padding: 15px;
    display: block;
  }
  .footer-map>iframe{
    width: 100%;
    height: 200px;
  }
  .footer-mapinfo{
    width: 100%;
    text-align: center;
  }
} 
















